<form method='GET' action='/filter'>
  Filter by a tag:
  <input type='text' name='tag'>
  </form>
<ul>
<li><b>{{textart.date}} {{textart.title}}</b></li>
  <li><pre>{{textart.artwork}}</pre></li>
  <li> Tags:
    {{#each textart.tags}}
     <a href="/filter?tag={{this}}">{{this}}</a>
    {{/each}}
  </li>
</ul>
