<h3> Artworks </h3>
<form method='GET' action='/filter'>
  Filter by a tag:
  <input type='text' name='tag'>

  </form>
  {{#each textart}}
  <ul>
  <li><b>{{date}} {{title}}</b></li>
    <li><pre>{{artwork}}</pre></li>
    <li> Tags:
      {{#each tags}}
      <a href="/filter?tag={{this}}">{{this}}</a>
      {{/each}}
    </li>
  </ul>
  {{/each}}
